<a href="https://colab.research.google.com/github/pankajsingh09/Hands-on-Big-Data-Practices-with-PySpark-Spark-Tuning/blob/main/Intro_to_RDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install pyspark
from pyspark import SparkContext, SparkConf
#initializing Spark
conf = SparkConf().setAppName("testApp1").setMaster("local[*]")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 55 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=6e4686efc1d7f17cd1816f2c8cdafa365aebba3178741127f3f2e8e143694d5a
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
sc = SparkContext(conf=conf)

In [ ]:
#Generate Random Number
import random
randomlist = random.sample(range(1,40),10)
print(randomlist)

[28, 34, 33, 12, 17, 3, 13, 6, 37, 29]

In [ ]:
#create RDD
rdd1 = sc.parallelize(randomlist,4)
rdd1.collect()

[28, 34, 33, 12, 17, 3, 13, 6, 37, 29]

In [ ]:
#Data Distribution in Partition
print(rdd1.getNumPartitions())
print(rdd1.glom().collect())
print("The first 2 partitions are :",rdd1.glom().take(2))

4
[[28, 34], [33, 12], [17, 3], [13, 6, 37, 29]]
The first 2 partitions are : [[28, 34], [33, 12]]

In [ ]:
#print Last Partition
print(rdd1.glom().collect()[3])

[13, 6, 37, 29]

In [ ]:
#count
rdd1.count()

10

In [ ]:
#First
rdd1.first()

28

In [ ]:
#Top
rdd1.top(2)

[37, 34]

In [ ]:
#distinct
rdd1.distinct().collect()

[28, 12, 33, 17, 13, 37, 29, 34, 6, 3]

In [ ]:
# Map
def myFunc(item):
  return (item + 1)*3

rdd_map = rdd1.map(myFunc)

rdd_map.glom().collect()

[[87, 105], [102, 39], [54, 12], [42, 21, 114, 90]]

In [ ]:
# Map with Lambda Function

rdd_map = rdd1.map(lambda x : (x + 1 ) * 3)
rdd_map.glom().collect()

[[87, 105], [102, 39], [54, 12], [42, 21, 114, 90]]

In [ ]:
# Filter
rdd_filter = rdd1.filter(lambda x : x%3==0)
print(rdd1.glom().collect())
rdd_filter.glom().collect()

[[28, 34], [33, 12], [17, 3], [13, 6, 37, 29]]

[[], [33, 12], [3], [6]]

In [ ]:
# FlatMap

rdd_flatMap = rdd1.flatMap(lambda x : [x+2, x+5])
rdd_flatMap.collect()

# Reduce 
# Reduce do aggregation (add,sub,mul,etc)
rdd_flatMap.reduce(lambda x,y : x+y)

494

In [ ]:
# Descriptive Statistics
print([rdd1.max(), rdd1.min(), rdd1.mean(), round(rdd1.stdev(),2), rdd1.sum()])

[37, 3, 21.2, 11.8, 212]

In [ ]:
# mapPartition

def myfunct(x):
  sum = 0
  for item in x:
    sum = sum + item
  
  yield sum
# yield is similar to sum  but insted of returing a single value it return a list

rdd1.mapPartitions(myfunct).collect()

[62, 45, 20, 85]